<div id="show-articles">
<h1>ALL ARTICLES</h1>
<br>
<br>

<div class="container">
<% @articles.each do |article|%>
  <h1>TITLE:<%= article.title %></h1>
  <h3>BODY:<%= article.body %><h3>
  <h3> CATEGORY:<%= article.category.title%><h3>

  <br>
    <br>
    <br>
<% end %>

</div>
</div>
