<div id="show-articles">
<h1>ALL Categories</h1>
<%= link_to "back", "/" %>

<br>
<br>

<div class="container">
<% @categories.each do |category|%>
  <h1>Category Title: </h1>
  <h2><%= category.title %></h2>
  <br>
    <br>
    <br>
<% end %>

</div>
</div>
